<div>
	<h1 style="text-align: center;">Master Page</h1>
		<div class="login">
			<div class="inputPosition"><span>User Id :</span><input type="text" class="Uid" placeholder="enter user name"></div>
			<div class="inputPosition"><span>Pass Word :</span><input type="password" class="Upw" placeholder="enter password"></div>
			<input type="button" id="buttn" class="btn btn-info" value="Login">
			<P class="reg" ng-click="redirect('registration')">Register</P>
			<p class="frgt" ng-click="redirect('forgot')">Forgot</p>
		</div>
</div>